<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link rel="stylesheet" href="./dist/main.css" />

    <title>Frontend Mentor | Time tracking dashboard</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div class="container">
      <div class="grid dashboard" id="dashboard">
        <div class="grid__item grid__item--1">
          <div class="dashboard__user">
            <img
              class="dashboard__user-image"
              :src="user.image"
              :alt="user.name + ' Image'"
            />
            <h1 class="dashboard__user-name">
              <span>Report for</span> {{ user.name }}
            </h1>
          </div>
          <ul class="dashboard__timeline">
            <li class="dashboard__timeline-item" @click="timeframe = 'daily'">
              <a href="#">Daily</a>
            </li>
            <li class="dashboard__timeline-item" @click="timeframe = 'weekly'">
              <a href="#">Weekly</a>
            </li>
            <li class="dashboard__timeline-item" @click="timeframe = 'monthly'">
              <a href="#">Monthly</a>
            </li>
          </ul>
        </div>

        <div class="grid__item grid__item--2">
          <div
            class="dashboard__item"
            :class="`dashboard__item--${dashboards[0].title.toLowerCase()}`"
          >
            <div class="dashboard__item-header">
              <h3 class="dashboard__item-title">{{dashboards[0].title}}</h3>
              <button class="dashboard__item-button">
                <img src="./images/icon-ellipsis.svg" alt="Ellipsis Icon" />
              </button>
            </div>
            <h1
              class="dashboard__item-current"
              v-if="this.timeframe == 'daily'"
            >
              {{ dashboards[0].timeframes.daily.current }}hrs
            </h1>
            <h1
              class="dashboard__item-current"
              v-else-if="this.timeframe == 'weekly'"
            >
              {{ dashboards[0].timeframes.weekly.current }}hrs
            </h1>
            <h1 class="dashboard__item-current" v-else>
              {{ dashboards[0].timeframes.monthly.current }}hrs
            </h1>
            <p
              class="dashboard__item-previous"
              v-if="this.timeframe == 'daily'"
            >
              Last Day - {{ dashboards[0].timeframes.daily.previous }}hrs
            </p>
            <p
              class="dashboard__item-previous"
              v-else-if="this.timeframe == 'weekly'"
            >
              Last Week - {{ dashboards[0].timeframes.weekly.previous }}hrs
            </p>
            <p class="dashboard__item-previous" v-else>
              Last Month - {{ dashboards[0].timeframes.monthly.previous }}hrs
            </p>
          </div>
        </div>
        <div class="grid__item grid__item--3">
          <div
            class="dashboard__item"
            :class="`dashboard__item--${dashboards[1].title.toLowerCase()}`"
          >
            <div class="dashboard__item-header">
              <h3 class="dashboard__item-title">{{dashboards[1].title}}</h3>
              <button class="dashboard__item-button">
                <img src="./images/icon-ellipsis.svg" alt="Ellipsis Icon" />
              </button>
            </div>
            <h1
              class="dashboard__item-current"
              v-if="this.timeframe == 'daily'"
            >
              {{ dashboards[1].timeframes.daily.current }}hrs
            </h1>
            <h1
              class="dashboard__item-current"
              v-else-if="this.timeframe == 'weekly'"
            >
              {{ dashboards[1].timeframes.weekly.current }}hrs
            </h1>
            <h1 class="dashboard__item-current" v-else>
              {{ dashboards[1].timeframes.monthly.current }}hrs
            </h1>
            <p
              class="dashboard__item-previous"
              v-if="this.timeframe == 'daily'"
            >
              Last Day - {{ dashboards[1].timeframes.daily.previous }}hrs
            </p>
            <p
              class="dashboard__item-previous"
              v-else-if="this.timeframe == 'weekly'"
            >
              Last Week - {{ dashboards[1].timeframes.weekly.previous }}hrs
            </p>
            <p class="dashboard__item-previous" v-else>
              Last Month - {{ dashboards[1].timeframes.monthly.previous }}hrs
            </p>
          </div>
        </div>
        <div class="grid__item grid__item--4">
          <div
            class="dashboard__item"
            :class="`dashboard__item--${dashboards[2].title.toLowerCase()}`"
          >
            <div class="dashboard__item-header">
              <h3 class="dashboard__item-title">{{dashboards[2].title}}</h3>
              <button class="dashboard__item-button">
                <img src="./images/icon-ellipsis.svg" alt="Ellipsis Icon" />
              </button>
            </div>
            <h1
              class="dashboard__item-current"
              v-if="this.timeframe == 'daily'"
            >
              {{ dashboards[2].timeframes.daily.current }}hrs
            </h1>
            <h1
              class="dashboard__item-current"
              v-else-if="this.timeframe == 'weekly'"
            >
              {{ dashboards[2].timeframes.weekly.current }}hrs
            </h1>
            <h1 class="dashboard__item-current" v-else>
              {{ dashboards[2].timeframes.monthly.current }}hrs
            </h1>
            <p
              class="dashboard__item-previous"
              v-if="this.timeframe == 'daily'"
            >
              Last Day - {{ dashboards[2].timeframes.daily.previous }}hrs
            </p>
            <p
              class="dashboard__item-previous"
              v-else-if="this.timeframe == 'weekly'"
            >
              Last Week - {{ dashboards[2].timeframes.weekly.previous }}hrs
            </p>
            <p class="dashboard__item-previous" v-else>
              Last Month - {{ dashboards[2].timeframes.monthly.previous }}hrs
            </p>
          </div>
        </div>
        <div class="grid__item grid__item--5">
          <div
            class="dashboard__item"
            :class="`dashboard__item--${dashboards[3].title.toLowerCase()}`"
          >
            <div class="dashboard__item-header">
              <h3 class="dashboard__item-title">{{dashboards[3].title}}</h3>
              <button class="dashboard__item-button">
                <img src="./images/icon-ellipsis.svg" alt="Ellipsis Icon" />
              </button>
            </div>
            <h1
              class="dashboard__item-current"
              v-if="this.timeframe == 'daily'"
            >
              {{ dashboards[3].timeframes.daily.current }}hrs
            </h1>
            <h1
              class="dashboard__item-current"
              v-else-if="this.timeframe == 'weekly'"
            >
              {{ dashboards[3].timeframes.weekly.current }}hrs
            </h1>
            <h1 class="dashboard__item-current" v-else>
              {{ dashboards[3].timeframes.monthly.current }}hrs
            </h1>
            <p
              class="dashboard__item-previous"
              v-if="this.timeframe == 'daily'"
            >
              Last Day - {{ dashboards[3].timeframes.daily.previous }}hrs
            </p>
            <p
              class="dashboard__item-previous"
              v-else-if="this.timeframe == 'weekly'"
            >
              Last Week - {{ dashboards[3].timeframes.weekly.previous }}hrs
            </p>
            <p class="dashboard__item-previous" v-else>
              Last Month - {{ dashboards[3].timeframes.monthly.previous }}hrs
            </p>
          </div>
        </div>
        <div class="grid__item grid__item--6">
          <div
            class="dashboard__item"
            :class="`dashboard__item--${dashboards[4].title.toLowerCase()}`"
          >
            <div class="dashboard__item-header">
              <h3 class="dashboard__item-title">{{dashboards[4].title}}</h3>
              <button class="dashboard__item-button">
                <img src="./images/icon-ellipsis.svg" alt="Ellipsis Icon" />
              </button>
            </div>
            <h1
              class="dashboard__item-current"
              v-if="this.timeframe == 'daily'"
            >
              {{ dashboards[4].timeframes.daily.current }}hrs
            </h1>
            <h1
              class="dashboard__item-current"
              v-else-if="this.timeframe == 'weekly'"
            >
              {{ dashboards[4].timeframes.weekly.current }}hrs
            </h1>
            <h1 class="dashboard__item-current" v-else>
              {{ dashboards[4].timeframes.monthly.current }}hrs
            </h1>
            <p
              class="dashboard__item-previous"
              v-if="this.timeframe == 'daily'"
            >
              Last Day - {{ dashboards[4].timeframes.daily.previous }}hrs
            </p>
            <p
              class="dashboard__item-previous"
              v-else-if="this.timeframe == 'weekly'"
            >
              Last Week - {{ dashboards[4].timeframes.weekly.previous }}hrs
            </p>
            <p class="dashboard__item-previous" v-else>
              Last Month - {{ dashboards[4].timeframes.monthly.previous }}hrs
            </p>
          </div>
        </div>
        <div class="grid__item grid__item--7">
          <div
            class="dashboard__item"
            :class="`dashboard__item--${dashboards[5].title.toLowerCase()}`"
          >
            <div class="dashboard__item-header">
              <h3 class="dashboard__item-title">{{dashboards[5].title}}</h3>
              <button class="dashboard__item-button">
                <img src="./images/icon-ellipsis.svg" alt="Ellipsis Icon" />
              </button>
            </div>
            <h1
              class="dashboard__item-current"
              v-if="this.timeframe == 'daily'"
            >
              {{ dashboards[5].timeframes.daily.current }}hrs
            </h1>
            <h1
              class="dashboard__item-current"
              v-else-if="this.timeframe == 'weekly'"
            >
              {{ dashboards[5].timeframes.weekly.current }}hrs
            </h1>
            <h1 class="dashboard__item-current" v-else>
              {{ dashboards[5].timeframes.monthly.current }}hrs
            </h1>
            <p
              class="dashboard__item-previous"
              v-if="this.timeframe == 'daily'"
            >
              Last Day - {{ dashboards[5].timeframes.daily.previous }}hrs
            </p>
            <p
              class="dashboard__item-previous"
              v-else-if="this.timeframe == 'weekly'"
            >
              Last Week - {{ dashboards[5].timeframes.weekly.previous }}hrs
            </p>
            <p class="dashboard__item-previous" v-else>
              Last Month - {{ dashboards[5].timeframes.monthly.previous }}hrs
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by
      <a href="https://frontendmentor.io/profile/osmannurierdogan"
        >Osman Nuri ERDOGAN</a
      >.
    </div>
    <script src="./app.js" defer></script>
  </body>
</html>
